# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# =========================================================
# ENV / SECRETS
# =========================================================

.env
.env.*
.vault-token
*.pem
*.key
*.crt

# =========================================================
# TERRAFORM
# =========================================================

.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
*.tfvars

# =========================================================
# REPORTS
# =========================================================

reports/
*.sarif

# =========================================================
# ACTIONS RUNNER
# =========================================================

actions-runner/
actions-runner/_work/
actions-runner/.credentials
actions-runner/.runner
actions-runner/.env
externals/
*.tar.gz
# =========================================================
# DOWNLOAD FILES
# =========================================================

*.tar.gz
*.zip

# =========================================================
# OS FILES
# =========================================================

.DS_Store
Thumbs.db
vault
vault
